{# htmx file upload tool - simulates drag and drop - makes htmx post to upload the file #}
{% load attachments_tags %}
{# fmt:off #}
{% if request.user|can_add_attachment:object %}
  <div id="FileUploadArea"
       _="on dragover or dragenter
            halt the event then
            set .file-drop-area's style.background to 'lightgreen'
          end
            on dragleave or drop
            set .file-drop-area's style.background to ''
          end">
    <form hx-encoding='multipart/form-data'
          hx-post='{{ object|attachment_upload_url }}'
          hx-target="#ProjectReports > table"
          hx-swap="beforeend"
          hx-indicator="find .htmx-indicator"
          _="on htmx:afterRequest reset() me">
      {% csrf_token %}
      <input type="file"
             name="attachment_file"
             required=""
             accept=".pdf,image/*,text/plain"
             id="id_attachment_file"
             _="on drop halt the event's default then
                set :uploads to event.dataTransfer.files then
                if :uploads.length is greater than 1 then
                  log 'multiple files dropped'
                  // in the future, the read only FileList will be deprecated in favour of Array[File]
                  // https://w3c.github.io/FileAPI/#filelist-section
                  // however, for now, we cannot modify the dropped list of multiple files in a natural way
                end
                then set my.files to :uploads" />
      <div class="submit">
        <button type="submit" class="btn btn-primary">
          <span class="fas fa-file-upload" aria-hidden="true"></span>&nbsp;Upload Attachment
          <span class="htmx-indicator inline spinner-border spinner-border-sm"></span>
        </button>
      </div>
    </form>
    <div class="file-drop-area">
      <span class="default">Click or drag a file here to upload an attachment</span>
    </div>
  </div>
{% endif %}
{# fmt:on #}
{# Pure-css drag-and-drop file uploader utilizes native capabilities of file input #}
<style>
  #FileUploadArea {
    width: 100%;
    position: relative;
  }

  #FileUploadArea input {
    display: inline;
  }

  #FileUploadArea input[type=file]:not(:valid) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }

  #FileUploadArea .submit {
    display: none
  }

  #FileUploadArea:has(input[type=file]:valid) .submit {
    display: inline;
  }

  #FileUploadArea .file-drop-area {
    width: 100%;
    padding: 20px 20px;
    border: 2px dashed #ccf;
    background-color: #ffe;
    color: #bbe;
    text-align: center;
    transition: background 0.3s ease-in-out;
  }

  #FileUploadArea:has(input[type=file]:valid) .file-drop-area {
    display: none;
  }
</style>
