{# a single row in a table of file attachments with hx-delete and hx-patch (edit label) #}
{% load attachments_tags permission_tags %}

<tr class="attachment"
    _="on remove_row transition my opacity to 0 then remove me">
  <td class="download"
      _="on toggle_form toggle .hidden on .alternate in me on update_report_label put #id_label-{{ attachment.pk }}.value into <.report-label a/> in me">
    <span class="text-secondary fas fa-paperclip"></span>
    <span class="report-label alternate"
          {% if attachment.description %}data-hn-tooltip="{{ attachment.description }}"{% endif %}>
      <a href="{{ attachment.get_download_url }}"
         title="Download {{ attachment.content_type }} Attachment">{{ attachment.label }}</a>
    </span>
    <form class="hidden alternate"
          style="display: inline-block"
          hx-encoding='multipart/form-data'
          hx-post='{{ attachment.get_update_label_url }}'
          _="on htmx:afterOnLoad send update_report_label to closest .download then send toggle_form to closest .download">
      {% csrf_token %}
      <input name="label"
             required=""
             id="id_label-{{ attachment.pk }}"
             value="{{ attachment.label }}" />
      <div class="submit hidden">
        <button type="submit" class="btn btn-primary">
          <span class="fas fa-save" aria-hidden="true"></span> Save
        </button>
      </div>
      <span class="htmx-indicator spinner-border spinner-border-sm"
            style="display:inline-block">{# css setting display:none somewhere, but interaction controlled with opacity? #}</span>
    </form>
  </td>
  <td>
    {% if request.user|can_change_attachment:attachment %}
      <button class="btn"
              title="Edit Attachment"
              _="on click send toggle_form to previous .download">
        <span class="fas fa-edit"></span>
        <span class="sr-only">Edit</span>
      </button>
    {% endif %}
  </td>
  <td class="report-tool" colspan="2" hx-target="this" _="on htmx:afterOnLoad send remove_row to closest <tr.attachment/>">
    {% if request.user|can_delete_attachment:attachment %}
      {% attachment_hx_delete_link attachment %}
    {% endif %}
  </td>
</tr>
